.card-cart {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  padding-bottom: 24px;
  top: 28%;
  width: 60%;
  margin-left: 132px;
}
.card-back {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #00000080;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}
